---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Showcase from '../components/Showcase.astro';
import Card from '../components/Card.astro';

export async function getStaticPaths() {
  const posts = await Astro.glob('../members/*.md');

  return posts.map(post => ({
    params: {
      profile: post.frontmatter.slug
    },
    props: {
      post
    }
  }));
}

const { Content, frontmatter} = Astro.props.post
---

<Layout title={frontmatter.title}>
  <Navbar 
  showcase={false}
  />
  <Showcase title={frontmatter.profile_title}/>
  
  <Card>
    <a href="/member" class="btn">Go Back</a>
    <!-- <a href={frontmatter.pdf} class="btn pdf">PDF</a> -->
    <Content />
  </Card>
</Layout>

<style>

  .card-content summary {
    font-size: 25px;
  }
  a.btn{
    background-color: #D25353;
    color: #eee;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out
  }

  a.btn:hover {
    background-color: #222831;
    scale: 2;
    transition: all 0.3s ease-in-out;
  }
</style>